@font-face {
  font-family: 'spliffsregular';
  src: url('./fonts/spliffs-webfont.woff2') format('woff2'), url('./fonts/spliffs-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'spliffsregular';
  line-height: 1.5;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding: 1em 2em;
  background-color: coral;
}

button:hover {
  background: #333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5) 
}

.modal-content {
  background-color: #ffffff;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2)
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}